/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'skranjiregular', san-serif;
}

h3 {
    font-family: 'skranjibold', san-serif;
}



.btn-block {
    display: block;
    width: 100%;
}

.btn-success {
    color: #fff;
    background-color: #23BF08;
    border-color: #23BF08;
}
.btn, .sp-container button {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.65rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}

.mt100 {
    margin-top: 100px;
}

.mb20 {
    margin-bottom:20px;
}

.mb40 {
    margin-bottom:40px;
}

.mb0 {
    margin-bottom: 0;
}